.ult-container {
    text-align: center;
    margin-bottom: 2vh;
}

.ult-tit {
    color: var(--color-text1);
    font-weight: bold;
    font-size: 3rem;

    span {
        color: var(--color-third);
    }
}

