.video-presentacion {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    height: auto;
}

.presen-container {
    width: 100%;
}

.hor-tar {
    display: flex;
    justify-content: space-around;
    margin-right: 5vw;
}