/******************************* Incluido *************************************/

/* .sin-margen {
    margin: 0;
}

.incluido-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.incluido {
    display: flex;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    font-size: 1.25rem;
    color: var(--color-text1);
} */
