/******************************** Precio **************************************/
/* p {
    font-size: 1.5rem;
    margin-left: 10px;
    color: white;

}

.precio {
    color: white;
    font-size: 2rem;
    width: 100%;

    margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;

    p {
        font-size: 1.5rem;
        margin-left: 10px;
    }
}

.oferta {
    text-align: center;
    justify-content: center;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
    }
} */
