.info-section {
    color: white;
    padding: 50px;
    
    display: flex;
    align-items: start;
    gap: 50px;
}

.info-section .title {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: var(--font-viking);
}

.title .title-icon {
    font-size: 3.5rem;
    padding-top: 5px;
}

.info-section p {
    margin-bottom: 1.2rem;
    line-height: 1.7;
    font-size: 20px;
    text-align: left;

    b {
        color: var(--color-third);
    }
}

.info-hr {
    margin: 0;
    color: var(--color-third);
    border-style: solid;
    -webkit-mask-image: none;
    mask-image: linear-gradient(
        to right,
        rgba(255,255,255,1),
        rgba(255,255,255,0) 90%
    );
}


.img-info {
    height: 700px;
    border-radius: 15px;
    border: 1px solid rgba(255, 174, 0, 0.3);
}


.info-section h3 {
    margin: 2rem 0 1rem;
}

.info-section > div > ul {
    margin: 0 0 1.5rem 1.5rem;
}

.info-section li {
    font-size: 20px;
    margin-bottom: .5rem;
    text-align: left;
}

.info-section > div > div > h1 {
    color: var(--color-text1);
    font-weight: bold;
    text-align: start;
    margin-top: 0;

    @media (min-width: 1000px) {
        font-size: 50px;
    }
    @media (max-width: 1000px) {
        font-size: 2rem;
    }

    span {
        color: var(--color-third);
    }
}

.info-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
}

@media (max-width: 1300px) {
    .info-section {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        gap: 2rem;
    }

    .info-container {
        display: flex;
        justify-content: center;
        width: 70%;
        max-width: 500px;
    }

    .info-content {
        width: 100%;
    }

    .info-section > div > .title > h1 {
        text-align: start;
    }

    .info-section > .info-content > div > h1 {
        text-align: center;
        font-size: 2.3rem;
    }

    .title .title-icon {
        font-size: 2.8rem;
    }

    .info-hr {
        margin: 0 auto;
    }

    .info-section p,
    .info-section li {
        font-size: 18px;
    }
}