.promo-container {
  background: radial-gradient(ellipse, var(--color-primary), #090909);
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .mejora-tit {
    width: 100%;
    text-align: center;
    color: var(--color-third);
  }
}

.jefes-container {
  overflow: hidden;
  width: 100%;
  @media (width >= 600px) {
    height: 90%;    
  }
  @media (width < 600px) {
    height: 50%;
  }
  position: relative;
  display: flex;
  justify-content: space-between;

  .jefe-hector, .jefe-dani {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .jefe-dani {
    img {
      height: 100%;
      transition: 0.3s transform;
      display: flex;
      justify-content: start;
    }
    img:hover {
      transform: scale(1.02);
    }
    img:hover + .info-dani {
      transform: translateX(0);
    }
  }

  .jefe-hector {
    .hector-img {
      height: 100%;
      transition: 0.3s transform;
      order: 2;
      display: flex;
      justify-content: end;

    }
    .hector-img:hover {
      transform: scale(1.02);
    }
    .hector-img:hover + .info-hector {
      transform: translateX(0);
    }
  }

  .info-hector, .info-dani {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;

    color: white;
    h2 {
      font-size: 50px;
      color: var(--color-third);
    }
    p {
      font-size: 25px;
    }
  }

  .info-hector {
    transform: translateX(-1500px);
    padding-left: 5vw;

  }

  .info-dani {
    transform: translateX(1800px);
    padding-right: 5vw;
  }


}

.info-jefes-movil {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
  
  text-align: center;

  h2 {
    color: var(--color-third);
  }
  p {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }


}
