body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: var(--color-background); /* Elige el color que desees */
    font-family: 'Macondo', system-ui; /* Opcional, para asegurar la consistencia tipográfica */
    scroll-behavior: smooth;
}

:root {
    --color-background: #202020;
    --color-primary: #303030;
    --color-second: #d9d9d9;
    --color-third: #FBA92C;
    --color-text1: white;
    --color-text2: black;
}

hr {
    margin-top: 5vh;
    width: 90%;
    color: white;
    border-style: solid;
    -webkit-mask-image: radial-gradient(circle, white, transparent);
    mask-image: radial-gradient(circle, white, transparent);
}

a {
    text-decoration: none;
}

.sec-tit {
    color: var(--color-text1);
    font-weight: bold;
    text-align: center;

    @media (min-width: 1000px) {
        font-size: 3rem;        
    }
    @media (max-width: 1000px) {
        font-size: 2rem;
    }

    span {
        color: var(--color-third);
    }
}
