.servicios-back {
    position: relative; /* Asegura que el pseudo-elemento ::before esté contenido en este div */
    background-image: url("/vikingbrothersgym/src/assets/iconmap.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    overflow: hidden; /* Evita que el ::before se extienda fuera del div */
}

.servicios-back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Ajusta el nivel de oscuridad */
    z-index: 1;
}

/* Estilo para el contenido dentro del div */
.servicios-back > * {
    position: relative;
    z-index: 2; /* Coloca el contenido del div encima del overlay */
}


.servicios-container {

    @media (min-width: 1000px) {
        display: flex;
        flex-wrap:wrap;
        align-items: start;    
    }
}

.servi-title {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;

    span {
        color: var(--color-third);
    }
}

.servicio {
    /* @media (min-width: 1500px) {
        max-width: 25%;
        min-height: 10vw;    
    }
    @media (min-width: 700px) {
        width: 30%;
        min-height: 10vw;    
    }
    @media (max-width: 700px) {
        width: 75%;
        min-height: 10vw;    
    } */
    @media (min-width: 1000px) {
        width: 25%;        
    }
    @media (max-width: 1000px) {
        width: 75%;
    }

    /* background-color: black; */
    /* border-width: 2px; */
    /* border-color: var(--color-third); */
    /* border-style: solid; */

    color: var(--color-text1);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin: auto;
    margin-bottom: 2vh;
    transition: all .6s ease ;
    

    h2 {
        margin-top: 0;
        color: var(--color-third);
    }

    p {
        font-size: 1.15rem;
    }

    hr {
        margin: 0;
        width: 100%;
    }
}

.icon-service {
    color: white;
    font-size: 5rem;
}