.suple-container {
    width: 100%;
    @media (min-width: 900px) {
        display: flex;
    }
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
}

.suple {
    color: var(--color-text1);
    font-size: 150%;
    margin-left: 5vw;
    margin-right: 5vw;
    align-self: center;
}

.suple-im-container {
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin-bottom: 2vh;
    margin-right: 5vw;
}

.suple-im {
    @media (min-width: 900px) {
        width: 30vw;        
    }
    @media (max-width: 900px) {
        width: 50vw;
    }
}