.centered-container {
    margin-top: 5vh;
    color: var(--color-text1);
    justify-content: center;
    text-align: center;
}

.centered-title {
    color: var(--color-text1);
    font-weight: bold;
    font-size: 3rem;

    span {
        color: var(--color-third);
    }
}

.text {
    font-size: 150%;
}

.resaltar {
    font-weight: bold;
}

.dir-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Contacto */

.redes {
    display: flex;
    justify-content: center;
    align-items: center;

}

.red-a {
    font-size: 200%;
    color: white;
    text-decoration: none;
    margin: 0 3vw;
}

.red-a:hover {
    opacity: 50%;
}

/* Ubicación */

.ubi {
    width: 100vw;
    position: relative; /* Asegura que el pseudo-elemento ::before esté contenido en este div */
    background-image: url("../assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: right;
    overflow: hidden; /* Evita que el ::before se extienda fuera del div */
}

.ubi::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el nivel de oscuridad */
    z-index: 1;
}

/* Estilo para el contenido dentro del div */
.ubi > * {
    position: relative;
    z-index: 2; /* Coloca el contenido del div encima del overlay */
}
