 /* Ubicación */

 .ubi-title {
    color: var(--color-text1);
    font-weight: bold;
    font-size: 3rem;
}

.como-llegar {
    display: flex;
    text-align: center; /* Centra el contenido del párrafo */
    font-size: 18px; /* Ajusta el tamaño de fuente para todo el texto */
    font-family: 'Arial', sans-serif; /* Aplica una fuente legible */
    color: #333; /* Color del texto para "al TEMPLO" */
    margin-top: 20px;
}

.link-como-llegar {
    font-size: 18px; /* Asegura que el tamaño de la fuente sea consistente */
    font-weight: bold; /* Hace el enlace más prominente */
    text-decoration: none;
    color: var(--color-third); /* Azul vibrante para el enlace */
    background-color: black; /* Fondo claro */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.link-como-llegar:hover {
    background-color: var(--color-third); /* Fondo azul vibrante al pasar el mouse */
    color: black; /* Texto blanco al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}
