.clases {
    position: relative;
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;

    h1 {
        font-weight: 800;
        font-size: 2.5rem;
    }
}

.servi-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    z-index: 2;
    margin-left: 20px;
    color: white;
}

.servi-description {
    position: relative;
    font-size: 1.2rem;

    @media (min-width: 900px) {
        left: 500px;
        transition: left 0.3s ease;
    }
}

.img-clases {
    @media (max-width: 900px) {
        filter: blur(2px);
    }
    width: 100%;
    transition: all 0.3s ease;
}

.clases::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (max-width: 900px) {
.clases::after {
    background-color: rgb(0,0,0);
    opacity: 0.7;
}
}

@media (min-width: 900px) {
.clases::after {
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgb(0,0,0);
}
}


.clases:hover::after {
    opacity: 0.7;
}

@media (min-width: 900px) {
.clases:hover .img-clases {
    transform: scale(1.3);
    filter: blur(10px);
}
}

.clases:hover .servi-description {
    left: 0;
}

.servicios-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 90vw;
    max-width: 1000px;
    min-width: 0px;
}

.servi-title {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;

    span {
        color: var(--color-third);
    }
}
