/******************************* Tarifas **************************************/
/* .tarifas-container {
    margin-bottom: 5vh;
}

.tar-tit {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;

    span {
        color: var(--color-third);
    }
} */

.tarifas-container {
    background: url('/src/assets/tarifas.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cuotas {
    max-width: 100%;
    margin-top: 2vh;
    padding: 2rem;
}

/* Pantallas grandes */
@media (min-width: 1400px) {
    .cuotas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "a b"
            "c d"
            "e ."
            "f g"
            "h i"
        ;
        gap: 2rem;
        width: 40%;
    }

    .tarifas-container {
        display: flex;
        justify-content: end;
    }
}

/* Pantallas pequeñas */
@media (max-width: 1399px) {
    .cuotas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i";
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .tarifas-container {
        display: flex;
        justify-content: center;
    }
}
