.competidores-container {
    margin-bottom: 5vh;
}

.competidores-tit {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;

    span {
        color: var(--color-third);
    }
}

.competidores {
    width: 100%;
    @media (min-width: 1000px) { /* Pantalla grande */
        display: flex;
        flex-wrap: wrap;
        columns: 3;
        align-items: center;
        justify-content: center;            
    }
}

.competidor {
    @media (min-width: 1000px) {
        position: relative;
        display: inline-block;
        overflow: hidden; /* Para asegurar que el pseudo-elemento no sobresalga */
        padding: 10px;            
    }
    @media (max-width: 1000px) {
        display: none;
    }
}

.im-competidor {
    @media (min-width: 1000px) {
        display: block;
        width: 20vw;
        height: auto;
        transition: transform 0.3s ease;            
    }
}

.competidor::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-third); /* Fondo naranja semitransparente */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1; /* Asegura que esté por encima de la imagen */            
}

.text-competidor {
    @media (min-width: 1000px) {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        color: var(--color-text2);
        font-size: 1.5vw;
    
        h1 {
            font-weight: bold;
            /* font-size: 2.5rem; */
            font-size: 2vw;
        }
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 2; /* Asegura que esté por encima del fondo */
    
        hr {
            margin-top: 0;
            width: 100%;
            color: black;
            border-style: solid;
        }            
    }
}

.competidor:hover::before {
    opacity: 0.85;        
}

.competidor:hover .text-competidor {
    opacity: 1;        
}

.competidor:hover .im-competidor {
    transform: scale(1.05);
}

/* PANTALLA PEQUEÑA */

.competidor-little {
    @media (min-width: 1000px) {
        display: none;
    }
    @media (max-width: 1000px) {
        display: grid;
        background-color: var(--color-primary);
        margin:auto;
        text-align: center;
        justify-content: center;
        width: 80vw;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 10px;
    }
}

.im-competidor-little {
    max-width: 175px;
    width: 100%;
    height: auto;
}

.text-competidor-little {
    background-color: var(--color-primary);
    margin: auto;
    color: var(--color-text1);
    width: 90%;

    @media (min-width: 500px) {
        font-size: 1.5rem;
    }
    @media (max-width: 500px) {
        font-size: 5vw;        
    }

    h1 {
        color: var(--color-third);
        @media (min-width: 500px) {
            font-size: 2.5rem;
        }
        @media (max-width: 500px) {
            font-size: 7.5vw;
        }
    }

    hr {
        margin-top: 0;
        width: 100%;
    }            

}